<!DOCTYPE html>
<html>
<head>
  <title>Fitproject</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div id="logo">Logo</div>
    <h1>Will it Fit&#8253;</h1>
  </header>
  <div id="main_wrapper">
    <div id="content_wrapper">
      <%= yield %>
    </div>
  </div>


</body>
</html>
